.form-sec{
    width:100%; background:#ccc; padding:15px;
    background: #f8f9fa;padding: 15px;box-shadow: 0 0 4px #ccc;
}

.form-sec-0{
    width:100%; background:#ccc; padding:15px;
    background: #f8f9fa;padding: 15px;box-shadow: 0 0 4px #ccc;
    padding-bottom: 52px;
}

label {
    color: #737070;
    font-weight: 700;
    font-size: 16px;
}

.photo-upload{
    padding: 8px 10px;
    border-radius: 10px;
    background-color: beige;
    border: 1px solid #979595;
    margin-left: 10px;
}

.ddList{
    padding: 12px 6px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
}

option:focus {
    outline: none;
}


.m-type{
    padding: 12px 32px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
}

.comment{
    width: 100%;
    border-radius: 10px;
    outline: none;

}





.time{
    padding: 8px 32px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
}

