<mat-card>
    <form>
<div class="row">
<div class="col-md-6">
    <div class="form-sec">
      
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
          </div>
          <div class="form-group">
            
           <label>Upload Photo:</label>
           <span> <input  type="file"  id="photo"  name="photo" class="photo-upload"></span>
           </div>
           
        
          
           <div class="form-group">
            <label>Unit of Measurment:</label>
            <mat-form-field>
            <mat-label>Select Unit of Measurment</mat-label>
  <mat-select [(value)]="selected" class="ddList" >
    <mat-option disabled >(please select Unit of Measurment)</mat-option>
    <mat-option value="piece" #piece>Piece</mat-option>
    <mat-option  value="liter" #liter>Liter</mat-option>
    <mat-option value="measurement" #measurement>Measurement</mat-option>
  </mat-select>
</mat-form-field>
                </div>

             
                <div class="form-group" *ngIf=piece.selected>
           <label>No Of Piece:</label>
          <input type="text" class="form-control" id="n_piece" placeholder="Enter No Of Piece" name="n_piece">
         </div>


         <div class="form-group" *ngIf=liter.selected>
          <label>Liter:</label>
         <input type="text" class="form-control" id="n_liter" placeholder="Enter Liter" name="n_liter">
        </div> 
        
        <div *ngIf=measurement.selected>
        <div class="form-group">
          <label>Length Of Material:</label>
         <input type="text" class="form-control" id="length" placeholder="Enter Length" name="length">
        </div> 
        
        <div class="form-group">
          <label>Width Of Material:</label>
         <input type="text" class="form-control" id="width" placeholder="Enter Width" name="width">
        </div> 
        
        <div class="form-group">
          <label>Height Of Material:</label>
         <input type="text" class="form-control" id="height" placeholder="Enter Height" name="height">
        </div> 

      </div>



          <div class="form-group">
            <label>Weight:</label>
            <input type="text" class="form-control" id="weight" placeholder="Enter Weight" name="weight">
          </div>
           
        
             <div class="form-group">
              <label>Type of Material:</label>
              <mat-form-field>
              <mat-label>Select Type of Material</mat-label>
    <mat-select name="type" class="m-type" >
      <mat-option disabled >(please select Type of Material)</mat-option>
      <mat-option value="wood">Wood</mat-option>
      <mat-option value="item">Item</mat-option>
    </mat-select>
  </mat-form-field>
                  </div>
             


        </div>
</div>

<div class="col-md-6">
    <div class="form-sec-0">
       
      <div class="form-group">
        <label>Material:</label><br>
         <mat-radio-group>
          <mat-radio-button class="example-margin" value="scrap">Scrap </mat-radio-button>
          <mat-radio-button class="example-margin"  value="returnable"> Returnable</mat-radio-button>
        </mat-radio-group> 
         </div> 

          <div class="form-group">
            <label>ETA (Production Time for vendor) :</label>
            <mat-form-field >
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
             </div>
         
          
          <div class="form-group">
            <label>Moving Average Cost:</label>
            <input type="text" class="form-control" id="ma-cost" placeholder="Enter Moving Average Cost" name="ma-cost">
          </div>
          <div class="form-group">
            <label>Target Cost (Buyer)</label>
            <input type="text" class="form-control" id="t-cost" placeholder="Enter Target Cost" name="t-cost">
          </div>
           
          <div class="form-group">
            <label> Created Time:</label>
            <input type="time" name="cr_time" class="time">
           </div>

          <div class="form-group">
            <label>Last Updated Time:</label>
            <input type="time" name="lp_time" class="time">
            </div>
          

            
            <div class="form-group">
              <label>Comment:</label>
              <textarea rows="4" cols="50" name="comment" class="comment">
                Enter text here...</textarea>
                  </div>
          
          <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
 
        
        </div> 
</div>

</div>
</form>
</mat-card>