
<div class="container">
  <ul class="list-group">
      <li class="list-group-item active" routerLink="/">Item Master  <i class='fas fa-clipboard-list'></i></li>
      <li class="list-group-item"routerLink="assembly">Assembly  <i class='	fas fa-tools'></i></li>
      <li class="list-group-item" routerLink="product-details">Product Details  <i class='fas fa-chalkboard-teacher'></i></li>
      <li class="list-group-item" routerLink="finishing">Finishing  <i class='fas fa-paint-roller'></i></li>
      <li class="list-group-item" routerLink="costing">Costing  <i class='fas fa-boxes'></i></li>
    </ul>
  </div>