
<mat-card>
    <form>
<div class="row">
<div class="col-md-6">
    <div class="form-sec">
      
          <div class="form-group">
            <label>Transport Cost:</label>
            <input type="text" class="form-control"  name="transport_cost">
          </div>


          <div class="form-group">
            <label>FOB (Shipping):</label>
            <input type="text" class="form-control" name="fob">
          </div>

          <div class="form-group">
            <label>Finishing Cost:</label>
            <input type="text" class="form-control" name="finishing_cost">
          </div>

          <div class="form-group">
            <label>Selling Cost:</label>
            <input type="text" class="form-control" name="selling_cost">
          </div>

        </div>
</div>

<div class="col-md-6">
    <div class="form-sec-0">
       <div class="form-group">
            <label>Buyer Selling Cost:</label>
            <input type="text" class="form-control" name="b_selling_cost">
          </div>
 
             
  <div class="form-group">
                <label>Comment:</label>
                <textarea rows="4" cols="50" name="comment" class="comment"></textarea>
                    </div>

    <button type="submit" class="btn btn-primary" style="float:right">Submit</button>

        </div>
</div>

</div>
</form>
</mat-card>