.form-sec{
    width:100%; background:#ccc;
    background: #f8f9fa;padding: 15px;box-shadow: 0 0 4px #ccc;
}

.form-sec-0{
    width:100%; background:#ccc;
    background: #f8f9fa;padding: 15px 15px 50px;box-shadow: 0 0 4px #ccc;
}



label {
    color: #737070;
    font-weight: 500;
    font-size: 16px;
}


  

.comment{
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ced4da;

}






