
<mat-card>
    <form>
<div class="row">
<div class="col-md-6">
    <div class="form-sec">
      
          <div class="form-group">
            <label>Purchasing Order Id:</label>
            <input type="text" class="form-control" id="po_id" placeholder="Enter Purchasing Order Id" name="po_id">
          </div>


          <div class="form-group">
            <label>Item Id:</label>
            <input type="text" class="form-control" id="i_id" placeholder="Enter Item Id" name="i_id">
          </div>

          <div class="form-group">
            <label>Item Name:</label>
            <input type="text" class="form-control" id="i_name" placeholder="Enter Item Name" name="i_name">
          </div>

          <div class="form-group">
            <label>Quantity:</label>
            <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity">
          </div>

        </div>
</div>

<div class="col-md-6">
    <div class="form-sec-0">
       <div class="form-group">
            <label>Purchaser Name:</label>
            <input type="text" class="form-control" id="p_name" placeholder="Enter Purchaser Name" name="p_name">
          </div>
 
             
  <div class="form-group">
                <label>Comment:</label>
                <textarea rows="4" cols="50" name="comment" class="comment">
                  Enter text here...</textarea>
                    </div>

    <button type="submit" class="btn btn-primary" style="float:right">Submit</button>

        </div>
</div>

</div>
</form>
</mat-card>