
<mat-card>
    <form>
<div class="row">
<div class="col-md-6">
    <div class="form-sec">
      
          <div class="form-group">
            <label>Selling Order Id:</label>
            <input type="text" class="form-control" name="so_id">
          </div>


          <div class="form-group">
            <label>Product Id:</label>
            <input type="text" class="form-control" name="p_id">
          </div>

          <div class="form-group">
            <label>Product Name:</label>
            <input type="text" class="form-control" name="p_name">
          </div>

           
          <div class="form-group">
            <label>Quantity:</label>
            <input type="text" class="form-control" name="quantity">
          </div>



    
        </div>
</div>

<div class="col-md-6">
    <div class="form-sec-0">
      
        <div class="form-group">
            <label>seller Name:</label>
            <input type="text" class="form-control" name="s_name">
          </div>
 
              <div class="form-group">
                <label>Comment:</label>
                <textarea rows="4" cols="50" name="comment" class="comment"></textarea>
                    </div>

    <button type="submit" class="btn btn-primary" style="float:right">Submit</button>

        </div>
</div>

</div>
</form>
</mat-card>