.form-sec{
    width:100%; background:#ccc; 
    background: #f8f9fa;padding: 15px 15px 50px;
    box-shadow: 0 0 4px #ccc;
}


label {
    color: #737070;
    font-weight: 500;
    font-size: 16px;
}


mat-form-field{
    width: 100%;
}
// .ddList{
//     padding: 12px 6px;
//     border-radius: 10px;
//     outline: none;
//    width: 100%;
//     border: 1px solid #ced4da;
// }

// option:focus {
//     outline: none;
// }


.example-margin {
    margin: 0 10px;
  }
  

.comment{
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ced4da;

}






